openapi: 3.0.3
info:
  title: CloudAMQP Instance API
  version: 1.0.0
  description: |
    Documentation for CloudAMQP Instance API. Use it to manage alarms, integrations, RabbitMQ, the firewall, VPC peering and more.

    ## Authentication

    Authentication is done by sending your **Instance API key** in the **password field** in Basic Auth. **The username should be kept empty.**

    **Example using curl:**
    ```bash
    curl -u :xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx \
      https://customer.cloudamqp.com/api/nodes
    ```

    **Getting your Instance API key:**

    You can get the Instance API key from the [get instance info endpoint](https://customer.cloudamqp.com/api/instances/{id}) in the main CloudAMQP API. The API key is returned in the `apikey` field.

    **Note:** The Instance API key is different from your main CloudAMQP API key. Each instance has its own unique API key.

    ## Additional Resources

    - [CloudAMQP technical changelog](changelog.html)
    - [CloudAMQP API documentation](index.html) - Main API for creating and managing instances
    - [CloudAMQP Terraform provider](terraform.html)

  contact:
    name: CloudAMQP
    url: https://www.cloudamqp.com

servers:
  - url: https://customer.cloudamqp.com/api
    description: CloudAMQP Instance API Server (use instance-specific API key)

security:
  - basicAuth: []

tags:
  - name: Account
    description: Account operations for password and API key rotation
  - name: Nodes
    description: Node management and version information
  - name: Plugins
    description: RabbitMQ plugin management
  - name: Actions
    description: Instance and cluster actions (restart, upgrade, etc.)
  - name: Alarms
    description: Alarm and notification management
  - name: Integrations
    description: Log and metric integrations with third-party services
  - name: Maintenance
    description: Maintenance window management
  - name: VPC
    description: VPC peering operations
  - name: VPC Connect
    description: AWS PrivateLink and Azure Private Link connections

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: |
        Authentication is done by sending your Instance API key in the password field in Basic Auth. The username should be kept empty.

        Get the Instance API key from the [get instance info endpoint](https://customer.cloudamqp.com/api/instances/{id}).

  schemas:
    Node:
      type: object
      properties:
        name:
          type: string
          description: Node name
          example: some-server-01
        hostname:
          type: string
          description: External hostname
          example: some-server-01.rmq.cloudamqp.com
        configured:
          type: boolean
          description: Whether node is configured
          example: true
        hipe:
          type: boolean
          description: Whether HiPE is enabled
          example: false
        rabbitmq_version:
          type: string
          description: RabbitMQ version
          example: 3.10.5
        erlang_version:
          type: string
          description: Erlang version
          example: 24.1.7
        running:
          type: boolean
          description: Whether node is running
          example: true
        disk_size:
          type: integer
          description: Base disk size in GB
          example: 20
        additional_disk_size:
          type: integer
          description: Additional disk size in GB
          example: 0
        availability_zone:
          type: string
          description: Availability zone ID
          example: availability_zone_id
        hostname_internal:
          type: string
          description: Internal hostname
          example: some-server-01.in.rmq.cloudamqp.com

    Plugin:
      type: object
      properties:
        name:
          type: string
          description: Plugin name
          example: rabbitmq_management
        version:
          type: string
          description: Plugin version
          example: 3.10.5
        description:
          type: string
          description: Plugin description
        enabled:
          type: boolean
          description: Whether plugin is enabled

    Recipient:
      type: object
      properties:
        id:
          type: integer
          description: Recipient ID
          example: 1
        type:
          type: string
          description: Recipient type
          enum: [email, webhook, pagerduty, opsgenie, opsgenie-eu, victorops, slack, teams]
          example: email
        value:
          type: string
          description: Recipient endpoint (email, URL, etc.)
          example: team@example.com
        name:
          type: string
          description: Recipient name
          example: Default
        options:
          type: object
          description: Additional options
          nullable: true

    RecipientCreate:
      type: object
      required:
        - type
        - value
      properties:
        type:
          type: string
          description: The type of notification to be sent
          enum: [email, webhook, pagerduty, opsgenie, opsgenie-eu, victorops, slack, teams]
        value:
          type: string
          description: Endpoint to where the notification will be sent
        name:
          type: string
          description: Optional name for the recipient

    Alarm:
      type: object
      properties:
        id:
          type: integer
          description: Alarm ID
          example: 7395
        type:
          type: string
          description: Alarm type
          enum: [cpu, memory, disk, netsplit, server_unreachable, notice]
          example: cpu
        enabled:
          type: boolean
          description: Whether alarm is enabled
          example: true
        value_threshold:
          type: integer
          description: Value threshold to trigger alarm
          example: 90
        value_calculation:
          type: string
          description: How to treat value threshold (for disk alarms)
          enum: [fixed, percentage]
          example: fixed
        time_threshold:
          type: integer
          description: Duration in seconds the value_threshold should be active before triggering
          example: 600
        recipients:
          type: array
          items:
            type: integer
          description: Recipient IDs to receive notifications
          example: [1]

    AlarmCreate:
      type: object
      required:
        - type
        - enabled
      properties:
        type:
          type: string
          description: The alarm type
          enum: [cpu, memory, disk, netsplit, server_unreachable, notice]
        enabled:
          type: boolean
          description: Enable or disable the alarm
        value_threshold:
          type: integer
          description: Value threshold to trigger the alarm (required for cpu, memory, disk)
        value_calculation:
          type: string
          description: How to treat value threshold (for disk alarms)
          enum: [fixed, percentage]
        time_threshold:
          type: integer
          description: Duration in seconds (required for cpu, memory, disk)
        recipients:
          type: array
          items:
            type: integer
          description: Recipient IDs to receive notifications

    LogIntegration:
      type: object
      properties:
        id:
          type: integer
          description: Integration ID
          example: 10
        type:
          type: string
          description: Integration type
          example: papertrail
        config:
          type: object
          description: Integration configuration
          example:
            url: logs.papertrail.com:2123
        error:
          type: string
          description: Error message if any
        account_id:
          type: string
          description: Account ID

paths:
  /account/rotate-password:
    post:
      summary: Rotate password
      description: Initiate rotation of the user password on your instance
      operationId: rotatePassword
      tags:
        - Account
      responses:
        '200':
          description: Password rotation initiated

  /account/rotate-apikey:
    post:
      summary: Rotate API key
      description: Rotate the Instance API key
      operationId: rotateApiKey
      tags:
        - Account
      responses:
        '200':
          description: API key rotation initiated

  /nodes:
    get:
      summary: List nodes
      description: Retrieves all nodes in the instance
      operationId: listNodes
      tags:
        - Nodes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Node'

  /nodes/available-versions:
    get:
      summary: Get available versions
      description: Lists RabbitMQ and Erlang versions to which the instance can be upgraded
      operationId: getAvailableVersions
      tags:
        - Nodes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rabbitmq_versions:
                    type: array
                    items:
                      type: string
                    example: ["3.9.11", "3.9.9", "3.9.7"]
                  erlang_versions:
                    type: array
                    items:
                      type: string
                    example: ["24.0.4"]

  /plugins:
    get:
      summary: List plugins
      description: Retrieves all available RabbitMQ plugins
      operationId: listPlugins
      tags:
        - Plugins
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plugin'

  /actions/hipe:
    put:
      summary: Enable/disable HiPE
      description: Enable or disable HiPE (High Performance Erlang) compilation
      operationId: toggleHiPE
      tags:
        - Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enable
              properties:
                enable:
                  type: boolean
                  description: Whether to enable or disable HiPE
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of nodes to enable HiPE for
      responses:
        '200':
          description: HiPE setting updated

  /actions/firehose:
    put:
      summary: Enable/disable Firehose
      description: Enable or disable RabbitMQ Firehose tracing (not recommended in production)
      operationId: toggleFirehose
      tags:
        - Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enable
                - vhost
              properties:
                enable:
                  type: boolean
                  description: Whether to enable or disable Firehose
                vhost:
                  type: string
                  description: Virtual host to enable tracing on
      responses:
        '200':
          description: Firehose setting updated

  /actions/restart:
    post:
      summary: Restart RabbitMQ
      description: Restart RabbitMQ on specified nodes or all nodes
      operationId: restartRabbitMQ
      tags:
        - Actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of node names
      responses:
        '200':
          description: Restart initiated

  /actions/cluster-restart:
    post:
      summary: Restart cluster
      description: Restart the entire cluster
      operationId: restartCluster
      tags:
        - Actions
      responses:
        '200':
          description: Cluster restart initiated

  /actions/cluster-stop:
    post:
      summary: Stop cluster
      description: Stop the entire cluster
      operationId: stopCluster
      tags:
        - Actions
      responses:
        '200':
          description: Cluster stop initiated

  /actions/cluster-start:
    post:
      summary: Start cluster
      description: Start the entire cluster
      operationId: startCluster
      tags:
        - Actions
      responses:
        '200':
          description: Cluster start initiated

  /actions/mgmt-restart:
    post:
      summary: Restart management interface
      description: Restart the RabbitMQ management interface
      operationId: restartManagement
      tags:
        - Actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of node names
      responses:
        '200':
          description: Management restart initiated

  /actions/stop:
    post:
      summary: Stop instance
      description: Stop specified nodes or all nodes
      operationId: stopInstance
      tags:
        - Actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of node names
      responses:
        '200':
          description: Stop initiated

  /actions/start:
    post:
      summary: Start instance
      description: Start specified nodes or all nodes
      operationId: startInstance
      tags:
        - Actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of node names
      responses:
        '200':
          description: Start initiated

  /actions/reboot:
    post:
      summary: Reboot instance
      description: Reboot specified nodes or all nodes
      operationId: rebootInstance
      tags:
        - Actions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: array
                  items:
                    type: string
                  description: Optional list of node names
      responses:
        '200':
          description: Reboot initiated

  /actions/upgrade-erlang:
    post:
      summary: Upgrade Erlang
      description: |
        Always updates to latest compatible version.

        **Note:** This action is asynchronous. The request will return immediately, the process runs in the background.
      operationId: upgradeErlang
      tags:
        - Actions
      responses:
        '200':
          description: Erlang upgrade initiated
        '400':
          description: Upgrade already in progress

  /actions/upgrade-rabbitmq:
    post:
      summary: Upgrade RabbitMQ
      description: |
        Upgrade RabbitMQ to specified version.

        **Note:** This action is asynchronous. The request will return immediately, the process runs in the background.
      operationId: upgradeRabbitMQ
      tags:
        - Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - version
              properties:
                version:
                  type: string
                  description: RabbitMQ version
                  example: 3.10.7
      responses:
        '200':
          description: RabbitMQ upgrade initiated
        '400':
          description: Upgrade already in progress

  /actions/upgrade-rabbitmq-erlang:
    post:
      summary: Upgrade RabbitMQ and Erlang
      description: |
        Always updates to latest possible version of both RabbitMQ and Erlang.

        **Note:** This action is asynchronous. The request will return immediately, the process runs in the background.
      operationId: upgradeRabbitMQErlang
      tags:
        - Actions
      responses:
        '200':
          description: Upgrade initiated
        '400':
          description: Upgrade already in progress

  /actions/new-rabbitmq-erlang-versions:
    get:
      summary: Fetch upgrade versions
      description: Returns what version of Erlang and RabbitMQ the cluster will update to
      operationId: getUpgradeVersions
      tags:
        - Actions
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rabbitmq_version:
                    type: string
                  erlang_version:
                    type: string

  /alarms/recipients:
    get:
      summary: List recipients
      description: Retrieve all recipients for an instance that can receive notifications
      operationId: listRecipients
      tags:
        - Alarms
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recipient'

    post:
      summary: Create recipient
      description: Create a new notification recipient
      operationId: createRecipient
      tags:
        - Alarms
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RecipientCreate'
      responses:
        '200':
          description: Recipient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'

  /alarms/recipients/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The recipient ID
        schema:
          type: integer

    get:
      summary: Retrieve specific recipient
      description: Get a specific recipient by ID
      operationId: getRecipient
      tags:
        - Alarms
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '404':
          description: Recipient not found

    put:
      summary: Update recipient
      description: Update a specific recipient with new information
      operationId: updateRecipient
      tags:
        - Alarms
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RecipientCreate'
      responses:
        '200':
          description: Recipient updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipient'
        '404':
          description: Recipient not found

    delete:
      summary: Delete recipient
      description: |
        Remove a recipient. This action will remove the recipient from associated alarms.
        Any alarms where this recipient was the sole recipient will be disabled.
      operationId: deleteRecipient
      tags:
        - Alarms
      responses:
        '200':
          description: Recipient deleted successfully
        '404':
          description: Recipient not found

  /alarms:
    get:
      summary: List alarms
      description: Retrieve all alarms used for the instance
      operationId: listAlarms
      tags:
        - Alarms
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alarm'

    post:
      summary: Create alarm
      description: Create a new alarm
      operationId: createAlarm
      tags:
        - Alarms
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AlarmCreate'
      responses:
        '200':
          description: Alarm created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'

  /alarms/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The alarm ID
        schema:
          type: integer

    get:
      summary: Retrieve specific alarm
      description: Get a specific alarm by ID
      operationId: getAlarm
      tags:
        - Alarms
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'
        '404':
          description: Alarm not found

    put:
      summary: Update alarm
      description: Update a specific alarm
      operationId: updateAlarm
      tags:
        - Alarms
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AlarmCreate'
      responses:
        '200':
          description: Alarm updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'
        '404':
          description: Alarm not found

    delete:
      summary: Delete alarm
      description: Remove a specific alarm
      operationId: deleteAlarm
      tags:
        - Alarms
      responses:
        '200':
          description: Alarm deleted successfully
        '404':
          description: Alarm not found

  /integrations/logs:
    get:
      summary: List log integrations
      description: Retrieve all log integrations
      operationId: listLogIntegrations
      tags:
        - Integrations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LogIntegration'

  /integrations/logs/{system}:
    parameters:
      - name: system
        in: path
        required: true
        description: The logs system to integrate to
        schema:
          type: string
          enum: [azure_monitor, cloudwatchlog, coralogix, datadog, logentries, loggly, papertrail, scalyr, splunk]

    post:
      summary: Add log integration
      description: |
        Add a log integration with a third-party service.

        Available systems: Azure Monitor, CloudWatch Logs, Coralogix, Datadog, Logentries, Loggly, Papertrail, Scalyr, Splunk
      operationId: addLogIntegration
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: Parameters vary by system type
              example:
                token: XXXXXXXXXXXXX
      responses:
        '200':
          description: Integration added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogIntegration'

  /integrations/logs/config/{integration_id}:
    parameters:
      - name: integration_id
        in: path
        required: true
        description: The integration ID
        schema:
          type: integer

    put:
      summary: Update log integration
      description: Update a log integration configuration
      operationId: updateLogIntegration
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Integration updated successfully

    delete:
      summary: Delete log integration
      description: Delete a log integration
      operationId: deleteLogIntegration
      tags:
        - Integrations
      responses:
        '200':
          description: Integration deleted successfully

  /integrations/metrics:
    get:
      summary: List metrics integrations
      description: Retrieve all metrics integrations
      operationId: listMetricsIntegrations
      tags:
        - Integrations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    config:
                      type: object
                    error:
                      type: string
                    account_id:
                      type: string

  /integrations/metrics/{system}:
    parameters:
      - name: system
        in: path
        required: true
        description: The metrics system to integrate to
        schema:
          type: string
          enum: [cloudwatch, datadog, librato, newrelic, prometheus, stackdriver, cloudwatch_v2]

    post:
      summary: Add metrics integration
      description: |
        Add a metrics integration with a third-party service.

        Available systems: CloudWatch, CloudWatch v2, Datadog, Librato, New Relic, Prometheus, Stackdriver
      operationId: addMetricsIntegration
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: Parameters vary by system type
      responses:
        '200':
          description: Integration added successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string

  /integrations/metrics/config/{integration_id}:
    parameters:
      - name: integration_id
        in: path
        required: true
        description: The integration ID
        schema:
          type: integer

    put:
      summary: Update metrics integration
      description: Update a metrics integration configuration
      operationId: updateMetricsIntegration
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
      responses:
        '200':
          description: Integration updated successfully

    delete:
      summary: Delete metrics integration
      description: Delete a metrics integration
      operationId: deleteMetricsIntegration
      tags:
        - Integrations
      responses:
        '200':
          description: Integration deleted successfully

  /integrations/metrics/prometheus/{integration_id}/filter:
    parameters:
      - name: integration_id
        in: path
        required: true
        description: The Prometheus integration ID
        schema:
          type: integer

    get:
      summary: Get Prometheus metrics filter
      description: Retrieve the metrics filter for a Prometheus integration
      operationId: getPrometheusFilter
      tags:
        - Integrations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  filter:
                    type: array
                    items:
                      type: string

    put:
      summary: Update Prometheus metrics filter
      description: Update the metrics filter for a Prometheus integration
      operationId: updatePrometheusFilter
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Filter updated successfully

  /maintenance:
    get:
      summary: List upcoming maintenance
      description: List scheduled maintenance operations
      operationId: listMaintenance
      tags:
        - Maintenance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    scheduled_by:
                      type: string
                    status:
                      type: string
                    required_by:
                      type: string
                    duration:
                      type: string
                    description:
                      type: string

  /maintenance/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The maintenance ID
        schema:
          type: integer

    put:
      summary: Reschedule maintenance
      description: Reschedule a maintenance operation
      operationId: rescheduleMaintenance
      tags:
        - Maintenance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scheduled_by
              properties:
                scheduled_by:
                  type: string
                  description: Date string
      responses:
        '200':
          description: Maintenance rescheduled successfully

  /maintenance/{id}/run:
    parameters:
      - name: id
        in: path
        required: true
        description: The maintenance ID
        schema:
          type: integer

    post:
      summary: Run maintenance now
      description: Execute maintenance operation immediately
      operationId: runMaintenance
      tags:
        - Maintenance
      responses:
        '200':
          description: Maintenance started successfully

  /maintenance/settings:
    get:
      summary: Get maintenance settings
      description: Fetches the current maintenance settings for the cluster
      operationId: getMaintenanceSettings
      tags:
        - Maintenance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferred_maintenance_day:
                    type: string
                  preferred_maintenance_time:
                    type: string
                  automatic_updates:
                    type: boolean

    post:
      summary: Update maintenance settings
      description: Updates the maintenance settings for the cluster
      operationId: updateMaintenanceSettings
      tags:
        - Maintenance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - preferred_maintenance_day
                - preferred_maintenance_time
              properties:
                preferred_maintenance_day:
                  type: string
                  description: Day of the week (e.g., Monday)
                preferred_maintenance_time:
                  type: string
                  description: UTC time (e.g., 00:00)
                automatic_updates:
                  type: boolean
                  description: Enable/disable automatic version upgrades
      responses:
        '200':
          description: Settings updated successfully

  /vpc-peering:
    get:
      summary: List VPC peering requests
      description: Retrieve all VPC peering connections
      operationId: listVPCPeering
      tags:
        - VPC
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                  vpc:
                    type: object

    post:
      summary: Create VPC peering request
      description: |
        Creates a peering request from the VPC hosting your cluster to the VPC you specify.

        **Note**: This action is asynchronous. Different parameters are required for AWS vs GCP.
      operationId: createVPCPeering
      tags:
        - VPC
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                peer_account_id:
                  type: string
                  description: AWS account ID
                peer_vpc_id:
                  type: string
                  description: AWS VPC ID
                peer_subnet:
                  type: string
                  description: Peer subnet (AWS)
                peer_network_uri:
                  type: string
                  description: GCP network URI
      responses:
        '200':
          description: Peering request created
        '400':
          description: Request already in progress

  /vpc-peering/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The peering request or connection ID
        schema:
          type: integer

    put:
      summary: Accept VPC peering request
      description: |
        Accepts a pending peering request (AWS only).

        **Note**: This action is asynchronous.
      operationId: acceptVPCPeering
      tags:
        - VPC
      responses:
        '200':
          description: Peering request accepted
        '400':
          description: Request already in progress

    delete:
      summary: Delete VPC peering request
      description: Deletes a VPC peering connection
      operationId: deleteVPCPeering
      tags:
        - VPC
      responses:
        '200':
          description: Peering deleted successfully

  /vpc-connect:
    get:
      summary: Retrieve VPC Connect information
      description: Get PrivateLink/Private Service Connect information
      operationId: getVPCConnect
      tags:
        - VPC Connect
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_at:
                    type: string
                  status:
                    type: string
                  service_name:
                    type: string
                    description: AWS service name
                  allowed_principals:
                    type: array
                    items:
                      type: string
                    description: AWS principals
                  server_name:
                    type: string
                    description: Azure/GCP server name
                  alias:
                    type: string
                    description: Azure alias
                  approved_subscriptions:
                    type: array
                    items:
                      type: string
                    description: Azure subscriptions
                  allowed_projects:
                    type: array
                    items:
                      type: string
                    description: GCP projects

    post:
      summary: Enable VPC Connect
      description: |
        Enables PrivateLink (AWS/Azure) or Private Service Connect (GCP).

        **Note**: Different parameters required per cloud provider.
      operationId: enableVPCConnect
      tags:
        - VPC Connect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                allowed_principals:
                  type: array
                  items:
                    type: string
                  description: AWS ARN principals
                approved_subscriptions:
                  type: array
                  items:
                    type: string
                  description: Azure subscription IDs
                allowed_projects:
                  type: array
                  items:
                    type: string
                  description: GCP project IDs
      responses:
        '200':
          description: VPC Connect enabled successfully

    put:
      summary: Update VPC Connect allowlist
      description: Updates the allowlist for VPC Connect
      operationId: updateVPCConnect
      tags:
        - VPC Connect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                allowed_principals:
                  type: array
                  items:
                    type: string
                approved_subscriptions:
                  type: array
                  items:
                    type: string
                allowed_projects:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Allowlist updated successfully

    delete:
      summary: Disable VPC Connect
      description: Disables PrivateLink/Private Service Connect
      operationId: disableVPCConnect
      tags:
        - VPC Connect
      responses:
        '200':
          description: VPC Connect disabled successfully
